addict
ansi2html==1.9.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
blinker==1.7.0
boto3==1.34.27
botocore==1.34.27
Brotli
bvhtoolbox==0.1.3
cachetools==5.3.2
certifi
charset-normalizer
chumpy==0.70
click==8.1.7
colorama
comm==0.2.1
ConfigArgParse==1.7
contourpy==1.1.1
cycler==0.12.1
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
easydict==1.11
einops
executing==2.0.1
fastjsonschema==2.19.1
filelock
Flask==3.0.1
fonttools==4.47.2
fsspec 
fvcore==0.1.5.post20221221
h5py 
huggingface_hub
idna
ifaddr==0.2.0
importlib-metadata==6.6.0
importlib-resources==6.1.1
iopath==0.1.10
ipython==8.12.3
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
kiss-icp==0.2.10
kiwisolver==1.4.5
laspy==2.5.3
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==10.2.0
natsort==8.4.0
nbformat==5.9.2
nest-asyncio==1.6.0
numpy==1.23.0
nvidia-ml-py==12.535.133
nvitop==1.3.2
olefile
open3d==0.18.0
opencv-python==4.9.0.80
ouster-mapping==0.1.1
ouster-sdk==0.10.0
packaging
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs
plotly==5.18.0
plyfile
# pointnet2-ops @ file:///Extra/fanbohao/fbh_code/mesh/FaceFormer/models/LiDARCap/pointnet2_ops_lib
pointops==1.0
portalocker==2.8.2
prettytable==3.9.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.10.14
Pygments==2.17.2
pyparsing==3.1.1
pyquaternion==0.9.9
PySocks
python-dateutil==2.8.2
python-magic==0.4.27
pytorch3d==0.3.0
pytz==2023.3.post1
PyYAM
referencing==0.32.1
requests
retrying==1.3.4
rich==13.7.0
rpds-py==0.17.1
s3transfer==0.10.0
safetensors
scikit-learn==1.3.2
scipy
SharedArray
shellingham==1.5.4
six
smplx==0.1.28
stack-data==0.6.3
tabulate==0.9.0
tenacity==8.2.3
tensorboardX
termcolor
threadpoolctl==3.2.0
timm
tomli
torch==1.10.1
torch-cluster
torch-scatter
torch-sparse
torch_geometric==2.4.0
torchaudio==0.10.1
torchvision==0.11.2
tqdm
traitlets==5.14.1
transforms3d==0.4.1
typer==0.9.0
typing_extensions
tzdata==2023.4
urllib3==1.26.18
wcwidth==0.2.13
Werkzeug==3.0.1
widgetsnbextension==4.0.9
yacs==0.1.8
yapf
zeroconf==0.58.2
zipp
